@import "tailwindcss";

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #000;
  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));
}

@custom-variant dark (&:where(.dark, .dark *));

@utility grid-cols-auto {
  grid-template-columns: var(--grid-cols-auto);
}

@utility shadow-black {
  box-shadow: var(--shadow-black);
}

@utility shadow-white {
  box-shadow: var(--shadow-white);
}

@dar: root {
  --background: #ffffff;
  --foreground: #171717;
}
